{% if messages %}
  {% for message in messages %}
    <script>alert("{{message}}")</script>
  {% endfor %}
{% endif %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>main functions!</title>
  </head>
  <body style="background-color:orange">
<br>
<h1 align="center"><b><center><font color="white"><i><u>Home Page</u></b></h1><br>
    <table align="center">
      <tr>
        <td>
          <form action="opencamera">
          <input type="submit" class="btn btn-primary" value="Face Detector" name="camera" style="height:35px;width:130px">
          </form>
        </td>
      </tr>
	  <tr>
        <td>
          <form action="mask">
          <input type="submit" class="btn btn-primary" value="Mask Detector" name="mask" style="height:35px;width:130px">
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form action="userprofile" >
          <input type="submit" class="btn btn-primary" value="Profile" name="profile" style="height:35px;width:130px">
          </form>
        </td>
      </tr><tr>
        <td>
          <form action="feedback">
          <input type="submit" class="btn btn-primary" value="Feedback" name="feedback" style="height:35px;width:130px">
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form action="delete_account">
          <input type="submit" class="btn btn-primary" value="Delete Account" name="deleteaccount1" style="height:35px;width:130px">
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form action="logout">
          <input type="submit" class="btn btn-primary" value="Logout" name="logout" style="height:35px;width:130px">
          </form>
        </td>
      </tr>
    </table>

   <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>

