{% if messages %}
      {% for message in messages %}
        <script>alert("{{message}}")</script>
      {% endfor %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Profile</title>
  </head>
  <body style="background-color:orange">
  <br>
<h1 align="center"><b><font color="white"><i><u>Profile</u></i></font></b></h1>
<br>
<br>
<table align="center">
    <tr>
        <td><b><font color="white" size="5"><i>User name :<i></font></b></td>
        <td><b><font color="white" size="5"><i>{{ user.username }}<i></font></b><br></td>
		</i>
    </tr>
    <tr>
        <td><b><font color="white" size="5"><i>Mobile number :<i></font></b></td>
        <td><b><font color="white" size="5"><i>{{ user.mobile_no }}<i></font></b><br></td>
    </tr>
    <tr>
        <td><b><font color="white" size="5"><i>Gender : <i></font></b></td>
        <td><b><font color="white" size="5"><i>{{ user.gender }}<i></font></b><br></td>
    </tr>

    <tr>
        <td><b><font color="white" size="5"><i>Account creation time/date : <i></font></b></td>
        <td><b><font color="white" size="5"><i>{{ user.register_time }}<i></font></b><br></td>
    </tr>

</table>
<br>
<br>
<table align="center">
    <tr>
        <td>
            <form action="home">
              <input type="submit" class="btn btn-primary" value="Back" name="back" style="height:35px;width:130px">
            </form>
        </td>
    </tr>
</table>
<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>
</html>
